{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"printWidth": 100,
	"singleAttributePerLine": true,
	"svelteBracketNewLine": true,
	"quoteProps": "consistent",
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"svelteAllowShorthand": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindFunctions": ["cn", "tv"]
}
